<ul
  class="nav nav-pills justify-content-center mt-3"
  id="tasks-tabs"
  role="tablist"
>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="task-1-tab"
      data-bs-toggle="tab"
      data-bs-target="#task-1-tab-content"
      data-task-number="1"
      aria-selected="true"
      type="button"
      role="tab"
    >
      1
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="task-2-tab"
      data-bs-toggle="tab"
      data-bs-target="#task-2-tab-content"
      data-task-number="2"
      type="button"
      role="tab"
    >
      2
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="task-3-tab"
      data-bs-toggle="tab"
      data-bs-target="#task-3-tab-content"
      data-task-number="3"
      type="button"
      role="tab"
    >
      3
    </button>
  </li>
</ul>