body {
  padding: 24px 0 74px;
  position: relative;
}

.task-header {
  margin-bottom: 24px;
}

.task-header > .task-title,
.task-header > .alert {
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.task-text {
  margin-bottom: 32px;
  padding: 16px;
  border: 1px solid #d7d9e1;
  border-radius: 8px;
}

.task-text > p:last-child {
  margin-bottom: 0;
}

.task-image-container {
  position: relative;
  margin-bottom: 32px;
  text-align: center;
}

.task-answers {
  margin-bottom: 48px;
}

.task-variant.form-check {
  margin-bottom: 8px;
  padding: 10px 16px 10px 40px;
  border: 1px solid #d7d9e1;
  border-radius: 8px;
  cursor: pointer;
}

.task-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  background-color: #ffffff;
  border-top: 1px solid #D7D9E1;
  z-index: 100;
}

.task-footer .page-link {
  padding: 3px 10px;
  width: 32px;
  height: 32px;
  font-weight: 500;
}

.task-footer .page-link.active {
  z-index: 3;
  color: white;
  background-color: #2B8217;
  border-color: #2B8217;
}
